@charset 'utf-8';

///////////////////////////////////////////////////////////////////////////////

@import "bourbon";
@import "bitters/bitters";
@import "neat";

///////////////////////////////////////////////////////////////////////////////

body {
  background-color: black;
}

section {
  @include outer-container;
  margin: 2em;

  h1 {
    text-align: center;
  }

  h2, h3 {
    text-align: left;
    color: white;
  }

  a {
    color: white;
    &:hover {
      color: $light-gray;
    }
  }
}
